# Ignore the following files:


# Unix temporary files
*~

# C++ build files
*.o

# Python build files
*.pyc

# Monte Carlo files
*.lhco
*.lhco.gz
*.lhe
*.lhe.gz
*.hep
*.hep.gz
*.root

# Image/plot files
*.ps
*.png
*.pdf

# Dependency folder
/deps

# Files folder
/files

# Tests programs
/tests/input
/tests/output
/tests/test_all
/tests/test_lhco
/tests/test_lhe
/tests/test_event
/tests/test_cuts
/tests/test_bumphunter
/tests/test_plot
/tests/test_histogram

# Tool programs
/tools/input
/tools/output
/tools/mergemc
/tools/ttag

