# Ignore the following files:


# Unix temporary files
*~

# C++ build & library files
*.o
*.a

# Python build files
*.pyc

# Monte Carlo files
*.lhco
*.lhco.gz
*.lhe
*.lhe.gz
*.hep
*.hep.gz
*.hepmc
*.hepmc.gz
*.root

# Image/plot files
*.ps
*.png
*.pdf

# Dependency folder
/deps

# Files folder
/files

#Build folder 
/build

#Private folders
/private
/scripts/private
