# Ignore the following files:


# Unix temporary files
*~

# C++ build files
*.o

# Python build files
*.pyc

# Monte Carlo files
*.lhco
*.lhco.gz
*.lhe
*.lhe.gz
*.hep
*.hep.gz
*.root

# Image/plot files
*.ps
*.png
*.pdf

# Dependency folder
/deps

# Files folder
/files

# Tests programs
/tests/test_histogram
/tests/test_bumphunter

# Tool programs
/tools/mergemc
/tools/cutmc
/tools/plotmc

